{% from 'macro.html' import print_case, case_href %}
<html>
  <head>
    <title>{{ suite.name }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>

  <body class=container-fluid>
    <div name=top>
      <h2>{{ suite.name }}</h2>
      <h3>Total: {{ suite.tests }}</h3>
      <h3><a href=#failed>Failed: {{ suite.failures }}</a></h3>
      <h3><a href=#errored>Errored: {{ suite.errors }}</a></h3>
      <h3><a href=#skipped>Skipped: {{ suite.skips }}</a></h3>
      <h3><a href=#passed>Passed: {{ suite.passes }}</a></h3>
      {% if suite.group_counts %}
        <h3><a href=#groups>Custom Groups</a></h3>
        <ul>
        {% for group_name in suite.group_counts %}
          <li><a href="#group_{{ group_name }}">{{ group_name }}: {{ suite.group_counts[group_name] }}</a></li>
        {% endfor %}
        <ul>
      {% endif %}
    </div>
    <hr>
    <div class=failed><a name=failed></a>
      <h2>Failed: {{ suite.failures }}</h2>
      <ul>
        {% for case in suite.failed_cases %}
          {{ print_case(suite.cases[case]) }}
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class=errored><a name=errored></a>
      <h2>Errored: {{ suite.errors }}</h2>
      <ul>
        {% for case in suite.errored_cases %}
          {{ print_case(suite.cases[case]) }}
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class=skipped><a name=skipped></a>
      <h2>Skipped: {{ suite.skips }}</h2>
      <ul>
        {% for case in suite.skipped_cases %}
          {{ print_case(suite.cases[case]) }}
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class=passed><a name=passed></a>
      <h2>Passed: {{ suite.passes }}</h2>
      <ul>
        {% for case in suite.passed_cases %}
          {{ print_case(suite.cases[case]) }}
        {% endfor %}
      </ul>
    </div>
    {% if suite.group_counts %}
      <div class=groups><a name=groups></a>
        <h2>Groups</h2>
        {% for group, cases in suite.cases_by_groups().iteritems() %}
          <div class=group>
            <h3><a name="group_{{ group }}">{{ group }}</a></h3>
            <ul>
              {% for case in cases %}
                <li><a href="#{{ case_href(case) }}">{{ case_href(case) }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </body>
</html>
